# Dependencies
node_modules/
*/node_modules/

# Production Build Artifacts
dist/
build/
*/dist/
*/build/

# Environment Variables & Keys
.env
.env.local
.env.*.local
*.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary & Cache
.cache/
.parcel-cache/
.turbo/
